.PopUp {
  width: 300px;
  height: 500px;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 99;
  right: 81px;
  top: 71px;
  background-color: white;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  opacity: 0.9;
  color: black;
}

.basketPop > button {
  height: 35px;
  width: 45px;
  border-radius: 15px;
  border: 1px solid black;
  font-size: larger;
  cursor: pointer;
  opacity: 1;
}

.basketPop {
  width: 275px;
  border: 1px solid black;
}

.image {
  width: 35px;
  height: 35px;
}
