.NavBar {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  background-color: white;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin-bottom: 80px;
}
.NavBar > h1 {
  margin-left: 150px;
  font-family: Consolas;
  cursor: pointer;
}

.basket {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 85px;
  height: 35px;
  border: 1px solid black;
  margin-right: 150px;
  border-radius: 5px;
  cursor: pointer;
}
.basket > img {
  height: 18px;
  width: 18px;
  color: black;
  cursor: pointer;
}
